@import "config";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
} 
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* VENDOR styles - START ************************/
@import "vendor/colorbox";
/* VENDOR styles - END **************************/